<!-- success component is created for running and validations -->

<!-- <div class="col-md-6">
  <h2 class="text-center">{{empformlabel}}</h2>
  <form [formGroup]="playForm" novalidate></form>
  <div class="form-group">
    <label for="gemId">Game Id:</label>
    <input type="number" formControlName="id" class="form-control" >
     </div>
     <div class="form-group">
      <label for="gembalance">balance:</label>
      <input formControlName="game_balance" placeholder="game balance" balance="gembalance" class="form-control" id="gembalance">

      <div  class="alert alert-info" *ngIf="addForm.get('game_balance').hasError('required') && addForm.get('game_balance').touched">Game balance is required</div>

    </div>
</div> -->